.ToolBar {
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 3px 3px 10px black;
}

#toolbarNameParentParent {
    width: 50%;
}

.toolbarNameParent {
    display: flex;
    justify-content: center;
    width: 25%;
}

#toolbarName {
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}

.ToolbarSections {
    width: 50%;
    display: flex;
    justify-content: center;
}

.ToolbarSections h1 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}

.ToolbarSections h1:hover {
     text-decoration: underline;
     cursor: pointer;
 }

@media screen and (max-width: 1600px) {
    .toolbarNameParent {
        padding-left: 5%;
    }
}

@media screen and (max-width: 1310px) {
    .toolbarNameParent {
        padding-left: 2%;
    }

    #toolbarName {
        font-size: 40px;
    }

    .ToolbarSections h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1045px) {
    .toolbarNameParent {
        padding-left: 2%;
    }

    #toolbarName {
        font-size: 30px;
    }

    .ToolbarSections h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    #toolbarNameParentParent {
        display: none;
        width: 0%;
    }

    .toolbarNameParent {
        display: none;
    }

    #toolbarName {
        display: flex;
    }

    .ToolbarSections {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .ToolbarSections h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    #toolbarNameParentParent {
        display: none;
        width: 0%;
    }

    .toolbarNameParent {
        display: none;
    }

    #aboutButton, #skillsButton, #venturesButton, #musicButton {
        display: none;
    }
}
