#aboutmeSectionChild {
    width: 100%;
}

#aboutmeTitleParent {
    width: 100%;
}

#aboutmeTitle {
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#aboutmeDesc {
    width: 100%;
    display: flex;
    justify-content: center;
}

#mePictureParent {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#mePicture {
    height: 100%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

#aboutmeDescParent {
    width: 70%;
}

#aboutmeDescChild {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    line-height: 60px;
    width: 80%;
    padding-left: 5%;
}

#aboutmeLineParent {
    display: flex;
    justify-content: center;
}

#aboutmeLine {
    border-top: 1px solid black;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 2050px) {
    #mePicture {
        height: 90%;
        width: 70%;
    }

    #aboutmeDescParent {
        width: 60%;
    }

    #mePictureParent {
        width: 40%;
    }

    #aboutmeDescChild {
        font-size: 30px;
    }
}

@media screen and (max-width: 1770px) {
    #mePicture {
        height: 90%;
        width: 70%;
    }

    #aboutmeDescParent {
        width: 70%;
    }

    #mePictureParent {
        width: 30%;
    }

    #aboutmeDescChild {
        font-size: 20px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1540px) {
    #aboutmeTitle {
        font-size: 50px;
    }
    
    #mePicture {
        height: 90%;
        width: 60%;
    }

    #aboutmeDescParent {
        width: 70%;
    }

    #mePictureParent {
        width: 30%;
    }

    #aboutmeDescChild {
        font-size: 20px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1270px) {
    #aboutmeTitle {
        font-size: 40px;
    }
    
    #mePicture {
        height: 90%;
        width: 70%;
    }

    #aboutmeDescParent {
        width: 60%;
    }

    #mePictureParent {
        width: 40%;
    }

    #aboutmeDescChild {
        font-size: 15px;
        line-height: 40px;
    }
}

@media screen and (max-width: 1024px) {
    #aboutmeTitle {
        font-size: 40px;
    }
    
    #mePicture {
        height: 90%;
        width: 60%;
    }

    #aboutmeDescParent {
        width: 70%;
    }

    #mePictureParent {
        width: 30%;
    }

    #aboutmeDescChild {
        font-size: 10px;
        line-height: 30px;
    }
}

@media screen and (max-width: 845px) {
    #aboutmeTitle {
        font-size: 30px;
    }
    
    #mePicture {
        height: 90%;
        width: 70%;
    }

    #aboutmeDescParent {
        width: 60%;
    }

    #mePictureParent {
        width: 40%;
    }

    #aboutmeDescChild {
        font-size: 10px;
        line-height: 30px;
    }
}

@media screen and (max-width: 770px) {
    #aboutmeDesc {
        display: inline-block;
    }

    #aboutmeTitle {
        font-size: 40px;
    }

    #mePictureParent {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }
        
    #mePicture {
        height: 80%;
        width: 60%;
    }

    #aboutmeDescParent {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #aboutmeDescChild {
        line-height: 40px;
        width: 80%;
        padding-left: 0%;
        font-size: 15px;
    }
}
