body {
    background-image: url("./titlePageFolder/sunset.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#mainContentParent {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#mainContentChild {
    background: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.copyrightParentParent {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#copyrightParent {
    background-color: black;
    padding: 2%;
    width: 20%;
    border-radius: 10px;
}

#copyrightChild {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 1610px) {
    #copyrightChild {
        font-size: 30px;
    }
}

@media screen and (max-width: 1170px) {
    #copyrightChild {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    #mainContentChild {
        width: 100%;
        border-radius: 0px;
    }
    
    #copyrightParent {
        width: 100%;
        background: transparent;
    }

    #copyrightChild {
        font-size: 25px;
    }
}

