#musicTitle{
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    padding-bottom: 10%;
}

.music p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 35px;
}

#spotifyLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#spotifyLink:hover {
    text-decoration: underline;
}