.skillsTitleParent {
    display: flex;
    justify-content: center;
}

#skillsTitleChild {
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    padding-bottom: 10%;
}

#skillsLine {
    border-top: 1px solid black;
    width: 80%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1540px) {
    #skillsTitleChild {
        font-size: 50px;
    }
}

@media screen and (max-width: 1270px) {
    #skillsTitleChild {
        font-size: 40px;
    }
}